{% extends "Newsletter/base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
                  <h5 class="card-title">About 0R1GIN Beta Program</h5>
                  <a href="{% url 'initiate' %}" class="btn m-3 btn-dark">Sign up to apply</a>
            </div>
          </div>

<p class="font-weight-bold">WHAT WE DO</p>
<p class="font-weight-normal">0R1GIN build startups in parallel. Our projects orginate from the earliest stage of venture which is idea itself. Then our core team work along with you to test, iterate, and build team around the idea for the next stage funding.
<br>
<br>At 0R1GIN, our goal is to get you through the riskest phase. This usually means: get you to the point where business model is proven to scale the startup to the next level.
</p>
<br>
<p class="font-weight-bold">CORE VALUE</p>
<p class="font-weight-normal">1.Focus on values and creation;
<br>2.Acceleration of the company building process;
<br>3.Making the team antifragile.
</p>
<br>
<p class="font-weight-bold">MORE THAN ACCELERATORS</p>
<p class="font-weight-normal">Leaders of Accelerators and incubators might find methods that can enrich their ongoing startup programs. Traditional startup accelerators (evencorporate-funded) are good for many things:
<br>1.Give room to new entrepreneurs to learn the startup way;
<br>2.Bring out new - and many times crazy - ideas;
<br>3.Build a network of innovators.
<br>
<br>But what happens after Demo Day? Usually nothing. The accelerator ends up with a few dozen more startup logos on their portfolio site. Most of them won't survive next year. Maybe there will be some light alumni activity. And then the next batch starts to produce another dozen new logos on the trophy-wall.
</p>
<br>
<p class="font-weight-bold">WHO WE ARE FOR </p>
<p class="font-weight-normal">We are for entrepreneurs who are looking to build startup in an easy and safe way. With our startup studio approach, it lowers the risk and impact of failure.
<br>
<br>For first-time founders the additional benefit is the knowledge-base of the studio, which increases the chance of success.
<br>
<br>For seasoned entrepreneurs, there are added benefits: There is an already functioning team behind you who can execute your vision for the new startup. And there is a wide network of investors and partners will make it easier to arrange for follow-on funding.
</p>
<br>
<p class="font-weight-bold">WHAT WE OFFER </p>
<p class="font-weight-normal">A core team for startup building. This includes data science, designer, branding, distribution along with deep product experience and a considerable network of investors.
<br>
<br>A program that lasts till the market and your team is ready for large scale 1-100 aqcuisition. During 0-1 stage, founders participate in group office hours every two weeks with our industry experts and get our core team’s support both technically and operational. We also invite speakers include startup founders, venture capitalists, and executives from well-known technology companies.After you’ve been selected, you get access to a huge network of early product adopters and our marketing channels.
</p>

{% endblock %}
