{% extends "Newsletter/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                  <h2>Industry operators backing ambitious founders.</h2>
                  <br>
                  <br>
                  <br>
                  <p class="text justify"> We welcome artists, designers, hackers, marketers to contribute your voice.
Whether it’s your comments to our projects, or guidance on a better approach to it. Your professional experience will shape how our products look like and
inspire us to be better. </p>
                  <br>
                  <br>
                  <br>
                  <a href="{% url 'started' %}" class="btn m-5 btn-dark btn-lg">Let's talk</a>


  </div>
</div>
<br>
<br>



{% endblock %}
